@model Telerik.Sitefinity.Frontend.Search.Mvc.Models.ISearchResultsModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Search.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Modules.Libraries;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Blogs.Model;
@using Telerik.Sitefinity.Modules.Blogs;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Services.Comments;
@using System.Threading;
@using System.Threading.Tasks;
@using Telerik.Sitefinity.Web.UI;

@Html.Script(ScriptRef.JQuery, "top", false)
<div class="@Model.CssClass">

    <div class="row">
        <div class="col-md-8">
            @if (@Model.Results.TotalCount > 0)
            {

                <div class="blog-content">
                    <h1 style="color: #c52d2f; ">"<u>@Model.Results.TotalCount @Html.Raw(Model.ResultText)</u>" </h1>
                </div>

            }
            else
            {
                <h1 style="color: #c52d2f; ">"<u>@Html.Resource("No") @Html.Raw(Model.ResultText)</u>"</h1>
            }
        </div>
        <div class="col-md-4">
            @if (Model.AllowSorting && @Model.Results.TotalCount > 0)
            {
                <label>
                    @Html.Resource("SortBy")
                    <select class="userSortDropdown" title="@Html.Resource("SortDropdown")">
                        <option value="@OrderByOptions.Relevance" @(Model.OrderBy == OrderByOptions.Relevance ? "selected=selected" : "")>@Html.Resource("Relevance")</option>
                        <option value="@OrderByOptions.Newest" @(Model.OrderBy == OrderByOptions.Newest ? "selected=selected" : "")>@Html.Resource("NewestFirst")</option>
                        <option value="@OrderByOptions.Oldest" @(Model.OrderBy == OrderByOptions.Oldest ? "selected=selected" : "")>@Html.Resource("OldestFirst")</option>
                    </select>
                </label>
            }
        </div>
    </div>

    @if (Model.Languages.Length > 1)
    {
        <div>
            <span>@Html.Resource("ChangeResultsLanguageLabel") </span>
            @for (var i = 0; i < Model.Languages.Length; i++)
            {
                <a href="@(String.Format(ViewBag.LanguageSearchUrlTemplate, Model.Languages[i].Name))">@Model.Languages[i].DisplayName</a>
                if (i < Model.Languages.Length - 2)
                {
                    <span>, </span>
                }
                else if (i == Model.Languages.Length - 2)
                {
                    <span> @Html.Resource("OrLabel") </span>
                }
            }
        </div>
    }
    <div class="blog-block">
        <div class="sf-search-results media-list">
            @foreach (var item in Model.Results.Data)
            {
                var hasLink = item.GetValue("Link") != null && !String.IsNullOrEmpty(item.GetValue("Link").ToString());
                <div class="media sf-media">

                    @if (((Telerik.Sitefinity.Services.Search.Model.Document)item).ItemType.ToString() == typeof(Telerik.Sitefinity.Libraries.Model.Image).ToString())
                    {

                        <div class="media-left sf-img-thmb">
                            <a href="@item.GetValue("Link")">
                                <img src="@item.GetValue("Link")" alt="@item.GetValue("Title")" width="120" />
                            </a>
                        </div>
                    }

                    else if (((Telerik.Sitefinity.Services.Search.Model.Document)item).ItemType.ToString() == typeof(Telerik.Sitefinity.Libraries.Model.Video).ToString())
                    {
                        LibrariesManager librariesManager = LibrariesManager.GetManager();
                        var videoTmbId = new Guid((string)item.GetValue("Id"));
                        Video video = librariesManager.GetVideo(videoTmbId);
                        if (video != null)
                        {
                            var thumbUrl = video.ThumbnailUrl;

                            <div class="media-left">
                                <div class="sf-video-thmb">

                                    <a href="@item.GetValue("Link")">
                                        <img src="@thumbUrl" alt="@item.GetValue("Title")" width="120" />

                                        <div class="sf-icon-play"></div>

                                    </a>
                                </div>
                            </div>
                        }

                    }

                    else
                    {

                    }


                    <div class="media-body sf-media-body">
                        @if (hasLink)
                        {
                            <div class="blog-item">
                                <div class="row">
                                    @{

                            string blogId = item.GetValue("ID").ToString();
                            Guid blogGuid = new Guid(blogId);
                            //Telerik.Sitefinity.Libraries.Model.Image image = (Telerik.Sitefinity.Libraries.Model.Image)item.GetValue("Image");
                            BlogsManager blogsManager = BlogsManager.GetManager();
                            var blogPost = blogsManager.GetBlogPost(blogGuid);
                            var blogImage = blogPost.GetRelatedItems<Telerik.Sitefinity.Libraries.Model.Image>("Image").SingleOrDefault();

                            //Comments count
                            //gets an instance of the comments service
                            var cs = SystemManager.GetCommentsService();

                            //adds an instance to the comment filter
                            var filter = new CommentFilter();

                            //gets the thread related to the blog post
                            var language = Thread.CurrentThread.CurrentUICulture.Name;
                            var threadKey = ControlUtilities.GetLocalizedKey(blogGuid, language);

                            //adds the thread key to the comments filter
                            filter.ThreadKey.Add(threadKey);

                            //retrieves all comments by specific blog post
                            var comments = cs.GetComments(filter);

                            // Author
                            Telerik.Sitefinity.Security.UserManager manager = Telerik.Sitefinity.Security.UserManager.GetManager();
                            Telerik.Sitefinity.Security.UserProfileManager pManager = Telerik.Sitefinity.Security.UserProfileManager.GetManager();
                            
                            Telerik.Sitefinity.Security.Model.User owner = manager.GetUser(blogPost.Owner);
                            Telerik.Sitefinity.Security.Model.SitefinityProfile profile = pManager.GetUserProfiles(blogPost.Owner).Where(p => p.GetType().FullName == typeof(Telerik.Sitefinity.Security.Model.SitefinityProfile).FullName).SingleOrDefault() as Telerik.Sitefinity.Security.Model.SitefinityProfile; 
                            
                                    }
                                    <div class="col-xs-12 col-sm-2 text-center">
                                        <div class="entry-meta">
                                            <span id="publish_date">@Convert.ToDateTime(blogPost.PublicationDate).ToString("dd MMM")</span>
                                            <span><i class="fa fa-user"></i> <a>@profile.FirstName @profile.LastName</a></span>
                                            <span><i class="fa fa-comment"></i> <a href="@item.GetValue("Link")">@comments.Count() comments</a></span>
                                            <span><i class="fa fa-heart"></i><a>56 Likes</a></span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-10 blog-content">
                                        <a href="@item.GetValue("Link")"><img class="img-responsive img-blog" src="@blogImage.MediaUrl" width="100%" alt="" /></a>

                                        <h2><a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@item.GetValue("Link")">@item.GetValue("Title")</a></h2>
                                        <h3 @Html.InlineEditingFieldAttributes("Summary", "ShortText")>@item.GetValue("Summary")</h3>
                                        <a class="btn btn-primary readmore" href="@item.GetValue("Link")">Read More <i class="fa fa-angle-right"></i></a>

                                    </div>

                                </div>
                            </div><!--/.blog-item-->

                        }
                        else
                        {
                            @item.GetValue("Title")
                        }

                        @*<p>@Html.Raw(item.GetValue("HighLighterResult"))</p>
                            @if (hasLink)
                            {
                                <a href="@item.GetValue("Link")">@item.GetValue("Link")</a>
                            }*@

                    </div>
                </div>
            }

        </div>
    </div>
    @if (Model.DisplayMode == ListDisplayMode.Paging && Model.TotalPagesCount != null && Model.TotalPagesCount > 1)
    {
        if (Model.CurrentPage == Model.TotalPagesCount)
        {
            <em class="text-muted">@((Model.ItemsPerPage * Model.TotalPagesCount) - Model.Results.TotalCount) of @Model.Results.TotalCount results</em>
        }
        else
        {
            <em class="text-muted">@Model.ItemsPerPage of @Model.Results.TotalCount results</em>
        }

        <div>
            @Html.Action("Index", "ContentPager", new
                       {
                           currentPage = Model.CurrentPage,
                           totalPagesCount = Model.TotalPagesCount,
                           redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
                       })
        </div>

    }
    <input type="hidden" data-sf-role="searchResOrderBy" value="@Request.QueryString["orderBy"]" />
    <input type="hidden" data-sf-role="searchResLanguage" value="@Request.QueryString["language"]" />
    <input type="hidden" data-sf-role="searchResIndexCatalogue" value="@Request.QueryString["indexCatalogue"]" />
    <input type="hidden" data-sf-role="searchResQuery" value='@Request.QueryString["searchQuery"]' />
    <input type="hidden" data-sf-role="searchResWordsMode" value='@Request.QueryString["wordsMode"]' />

</div>
@Html.Script(Url.WidgetContent("Mvc/Scripts/SearchResults/Search-results.js"), "bottom")

